.menu {
  &__button {
    position: relative;
    z-index: 11;
    display: block;
    width: 30px;
    height: 30px;
    background-image: url('../img/hamburger.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;

    @media (min-width: $lg) {
      display: none;
    }
  }

  &__button--open {
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url('../img/close.svg');
    background-size: 75% 75%;
  }

  &__list {
    display: none;
    padding: 0;

    @media (min-width: $lg) {
      display: grid;
      grid-auto-flow: column;
      justify-content: start;
      column-gap: 25px;
    }

    @media (min-width: $xl) {
      column-gap: 40px;
    }
  }

  &__list--open {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: $gray;
    display: block;
    width: 100%;
    height: 100vh;
    padding: 45px 0;
  }

  &__item {
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
    color: #000;

    @media (min-width: $lg) {
      padding: 0;
      font-size: 14px;
      line-height: 22px;
      color: #7d7d7d;
    }

    &:not(:last-child) {
      border-bottom: 1px solid #ccc;

      @media (min-width: $lg) {
        border-bottom: none;
      }
    }
  }

  &__link {
    position: relative;
    color: #7d7d7d;
    text-decoration: none;
    transition: color 0.3s;

    &:hover,
    &:active {
      color: $red;
    }
  }

  &__link--active {
    color: $red;
  }

  &__user {
    margin-top: 30px;
    margin-left: 20px;

    @media (min-width: $lg) {
      display: none;
    }
  }

  &__post-adv {
    display: grid;
    justify-content: center;
    margin-top: 40px;

    @media (min-width: $lg) {
      display: none;
    }
  }
}