button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

figure, figcaption {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  margin-top: auto;
}

.container {
  width: 100%;
  padding: 0 15px;

  @media (min-width: $sm) {
    width: 540px;
    margin: 0 auto;
  }

  @media (min-width: $md) {
    width: 720px;
  }

  @media (min-width: $lg) {
    width: 960px;
  }
  
  @media (min-width: $xl) {
    width: 1140px;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 25px;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
}